:root {}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

#ordering-center {
    padding: 1rem;
    background-color: #f4f4f4;
    min-height: 400px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#place-order {
    padding: 1rem 2rem;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition-duration: 0.2s;
    cursor: pointer;
}

#place-order:hover {
    background-color: blue;
}

.options-container {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: white;
    margin-bottom: 2rem;
}

#options-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 10px;
}

.order-list {
    list-style-type: none;
}

.order-container {
    display: inline;
}

.pizza{
    display: grid;
    grid-template-columns: 3fr 9fr 2fr 1fr;
    height: 8rem;
    border: 1px solid black;
    border-radius: 1rem;
    max-width: 1000px;
}

.pizza-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1rem;
    gap: 1rem;
}
.pizza-photo {
    height: 3rem;
    width: 3rem;
    overflow: hidden;
    border-radius: 1rem;
}

.pizza-main {
    height: 100%;
}
.pizza-options {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.option {
    width: 5rem;
}

.option-select {
    width: 100%;
}

.pizza-cost, .delete {
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-photo {
    width: 1rem;
    height: 1rem;
    overflow: hidden;
}


#add-pizza {
    background-color: green;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    transition-duration: 0.2;
    color: white;
    cursor: pointer;
}

#add-pizza:hover {
    background-color: red;
}

#order-total {
    float: right;
    border: 2px solid;
    margin-right: 2em;
    margin-top: 1em;
    padding: 10px;
}

#special-surprise {
    display: none;
    align-items: center;
}